@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ikon {
    margin-top: 54px;
    margin-left: -20px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 133.6%;
    color: #99BAED;
}

.lis {
    display: flex;
    margin-top: 69px;
    list-style: none;
    justify-content: flex-end;
    justify-content: space-between;
}



#dos {
    margin-top: 60px;
}

.btnbut2 {
    border-style: none;
    position: absolute;
    width: 188px;
    height: 75px;
    background: #99BAED;
    border-radius: 20px;
    color: white;
    margin-top: 47px
}

.dos {
    text-align: end;
}

.had {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 133.6%;
    color: #163561;
}

#ehrom {
    margin-top: 100px;
}

.hairstyle {

    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 133.6%;
    color: #050504;
    margin-top: 170px;
}

.hairstyle span {

    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 133.6%;
    color: #FBB400;
    margin-top: 170px;
}

.poragrov {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150.6%;
    letter-spacing: 0.03em;
    color: #153461;
    margin-top: 30px;
    margin-bottom: 47px;
}

.btnbut {
    border-style: none;
    position: absolute;
    width: 188px;
    height: 75px;
    background: #99BAED;
    border-radius: 20px;
    color: white;
    margin-top: 47px
}


#rasm {
    margin-top: 300px;
    margin-left: -40px;
}

.hairstyle1 {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 133.6%;
    color: #050504;
    margin-top: 230px;
}

.hairstyle1 span {
    margin-top: 330px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 133.6%;
    color: #FBB400;
    margin-top: 170px;
}
#bolaot{

}
.server {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 116.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #163561;
    margin-top: 200px;
    /* // */
    margin-left: 25%;
    /* // */
}

.server span {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 116.6%;
    text-align: center;

    letter-spacing: 0.03em;
    color: #FBB400;
}

.Mycard {
    background: #99BAED;
    border-radius: 29px;
    width: 341px;
    height: 433px;
}

.our {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 120px;
    height: 145px;
    background: #E5ECFE;
    border-radius: 10px;
}

#uy {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    margin-top: 39px;
    background: #E5ECFE;
    border-radius: 13px
}

.hair {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 116.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-top: 59px;
}

.long {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500%;
    font-size: 25px;
    line-height: 150.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    opacity: 0.65;
    margin: 0px 25px 10px 25px;
}

.Mycard1 {
    width: 341px;
    height: 433px;
    background: #FAFBFF;
    box-shadow: 0px 5px 0px #99BAED;
    border-radius: 29px;
}

#san {
    justify-content: space-around
}

#marat {
    display: flex;
    justify-content: center;
}

.ff {
    display: flex;
    justify-content: center;
}

.hair1 {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 116.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #080808;
    margin-top: 59px;
}

.long1 {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500%;
    font-size: 25px;
    line-height: 150.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #030303;
    opacity: 0.65;
    margin: 0px 25px 10px 25px;
}

.hamasi {
    display: flex;
    justify-content: center;
}

.kut {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #080809;
    opacity: 0.65;
}

.fut {
    margin-top: 150px;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
}

.hul {
    margin-bottom: 98px;
}

.tarmoq {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.ikrom {
    padding-top: 12px;
    text-align: center;
    size: 20px;
    background: #b3dbf1;
    border-radius: 50%;
    width: 57px;
    height: 57px;
}


 .leve{
    width: 300px;
    border: 1px solid blue;
    box-sizing: border-box;
    margin-bottom: 222px;
} 
/* .leve{
    width: 100;
    box-sizing: border-box;
} */
/* 
/* #sed{
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: -9;
} 
    
    
    -webkit-text-stroke: 2px red;

    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #ff0000; */

    /* -webkit-text-stroke-color: red; */
    /* -webkit-text-stroke-color: inherit;  */
/* -webkit-text-stroke-color: initial; */
/* -webkit-text-stroke-color: unset; */