@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.ikon {
    margin-top: 54px;
    margin-left: -20px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 133.6%;
    color: #99BAED;
}
.lis {
    display: flex;
    margin-top: 69px;
    list-style: none;
    justify-content: flex-end;
    justify-content: space-between;
}
#dos {
    margin-top: 60px;
}
.btnbut2 {
    margin-left: 200px;
    border-style: none;
    position: absolute;
    width: 188px;
    height: 75px;
    background: #99BAED;
    border-radius: 20px;
    color: white;
    margin-top: 47px
}
.dos {
    text-align: end;
}
.had {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 133.6%;
    color: #163561;
}
#ehrom {
    margin-top: 100px;
}
.hairstyle {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 133.6%;
    color: #050504;
    margin-top: 170px;
}
.hairstyle span {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 133.6%;
    color: #FBB400;
    margin-top: 170px;
}
.poragrov {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100.6%;
    letter-spacing: 0.03em;
    color: #153461;
    margin-top: 15px;
    margin-bottom: 59px;
}
.poragrov1 {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100.6%;
    letter-spacing: 0.03em;
    color: #153461;
    margin-top: 15px;
    margin-bottom: 59px;
}
.btnbut {
    border-style: none;
    position: absolute;
    width: 188px;
    height: 75px;
    background: #99BAED;
    border-radius: 20px;
    color: white;
    margin-top: 47px
}
.btnbut1 {
    border-style: none;
    position: absolute;
    width: 188px;
    height: 75px;
    background: #99BAED;
    border-radius: 20px;
    color: white;
    margin-top: 47px
}
.btnbut3 {
    border-style: none;
    position: absolute;
    width: 188px;
    height: 75px;
    background: #99BAED;
    border-radius: 20px;
    color: white;
    margin-top: 47px
}


#rasm {
    margin-top: 300px;
    margin-left: -40px;
}

.hairstyle1 {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 133.6%;
    color: #050504;
    margin-top: 230px;
}

.hairstyle1 span {
    margin-top: 330px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 133.6%;
    color: #FBB400;
    margin-top: 170px;
}
.server {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 116.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #163561;
    margin-top: 40px;
    margin-bottom: 40px;
    /* // */
    margin-left: 25%;
    /* // */
}
.server span {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 116.6%;
    text-align: center;

    letter-spacing: 0.03em;
    color: #FBB400;
}
.Mycard {
    background: #99BAED;
    border-radius: 29px;
    max-width: 100%;
    width: 341px;
    height: 433px;
}

.Mycard:hover {
    background-color: rgb(67, 172, 247);
}
.Mycard1:hover {
    background-color: rgb(67, 172, 247);
}

.our {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 120px;
    height: 145px;
    background: #E5ECFE;
    border-radius: 10px;
}
#uy {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    margin-top: 39px;
    background: #E5ECFE;
    border-radius: 13px
}
.hair {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 116.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-top: 59px;
}
.long {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500%;
    font-size: 25px;
    line-height: 150.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    opacity: 0.65;
    margin: 0px 25px 10px 25px;
}
.Mycard1 {
    width: 341px;
    height: 433px;
    background: #FAFBFF;
    box-shadow: 0px 5px 0px #99BAED;
    border-radius: 29px;
}
#san {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#marat {
    display: flex;
    justify-content: center;
}
.ff {
    display: flex;
    justify-content: center;
}
.hair1 {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 116.6%;
    text-align: center;
    color: #080808;
    margin-top: px;
}
.long1 {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500%;
    font-size: 25px;
    line-height: 150.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #030303;
    opacity: 0.65;
    margin: 0px 25px 10px 25px;
}
.hamasi {
    display: flex;
    justify-content: center;
}
.kut {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #080809;
    opacity: 0.65;
}
.fut {
    margin-top: 150px;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
}
.hul {
    margin-bottom: 98px;
}
.tarmoq {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.ikrom {
    padding-top: 12px;
    text-align: center;
    size: 20px;
    background: #b3dbf1;
    border-radius: 50%;
    width: 57px;
    height: 57px;
}
#man {
    display: none;
}
.container .navbar {
    display: none;
}
.hidden{
    display: none;
}

@media (max-width:640px) {
    .box {
        display: none;
    }
    #sef {
        display: none;
    }
    .nimadur-box{
        flex-direction: column-reverse !important;
    }
    .poragrov1{
        flex: 0 0 auto;
        width: 500px;
        font-size: 20px;
        text-align: center;
    }
    .poragrov{
        display: none;
    }
    #man {
        display: flex;
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .nimadur{
        display: none;
    }
    .hidden{
        display: flex;
        display: flex;
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .container .navbar {
        display: flex;
    }
    .btnbut1 {
        display: none;
        
    }
    .btnbut {
        width: 120px;
        height: 40px;
        background: #99BAED;
        border-radius: 20px;
        color: white;
       margin-top: 10px;
    }
    .btnbut3 {
        width: 120px;
        height: 40px;
        background: #99BAED;
        border-radius: 20px;
        color: white;
       margin-top: 10px;
        margin-left: 117px;
    }
.our{
    margin-top: 27px;
    width: 93px;
    height: 127px;

}
    .server {
        display: none;
        font-size: 27px;
        line-height: 116.6%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #163561;
        margin-bottom: 10px;
        margin-left: 20%;
        margin-top: 10px;
    }
    .fut {
        margin-top: 80px;
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
        margin-left: 120px;
    }
    .server span {
        font-size: 27px;
        line-height: 116.6%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #163561;
        margin-top: 32px;
        margin-left: 20%;
    }
    .hairstyle {
        font-size: 18px;
        margin: auto;
        width: 200px;
        margin-left: 67PX;
        text-align: center;
    }
    .hairstyle span {
        font-size: 18px;
        margin-top: 50px;
        text-align: center;
        margin: auto;

    }
    .hairstyle1 {
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
        margin: auto;
        width: 200px;
        margin-left: 67PX;

    }
    .hairstyle1 span {
        font-size: 18px;
        margin-top: 4px;
        text-align: center;
        margin: auto;

    }
    #ehrom {
        display: flex;
        flex-wrap: wrap;
        margin-top: 46px;
        width: 300px;
        margin-left: 6px;

    }
    #rasm {
        margin-top: 61px;
        width: 300px;
        margin-left: 21px;
    }
    .hair {
        font-family: 'Catamaran';
        font-style: normal;
        font-weight: 700;
        line-height: 116.6%;
        text-align: center;
        color: #100f0f;
        margin-top: 15px;
        font-size: 40px;
    }
    .hair1{
        font-size: 40px;
    }
    .long {
        font-weight: 500%;
        font-size: 17px;
        line-height: 150.6%;
        color: #0a0909;
        opacity: 0.65;
        margin: 0px 25px 10px 25px;
    }
    .long1{
        font-size: 17px;
    }
    .hul {
        margin-bottom: 9px;
        font-size: 13px;
        width: 50px;
    }
    #sed {
        margin-top: 10px;
        vertical-align: middle;
        width: 347px;
        margin-left: 164px;

    }
    .kut {
        font-size: 15px;
        line-height: 150.6%;
        text-align: center;
        margin-left: 90px;
        width: 100%;
    }
    #mox {
        width: 10px;
        margin-bottom: 40px;
    }
    .ikrom {
        padding-top: 12px;
        text-align: center;
        size: 20px;
        background: #b3dbf1;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    #haircut{
        margin-left: 40px;
    }

    .Mycard1 {
        width: 341px;
        height: 390px;
        background: #FAFBFF;
        box-shadow: 0px 5px 0px #99BAED;
        border-radius: 29px;
        margin-left:68px;
    }
    .Mycard {
        width: 341px;
        height: 390px;
        background: #FAFBFF;
        box-shadow: 0px 5px 0px #4074c3;
        border-radius: 29px;
        margin-left:68px;
    }
    .row{
        flex-shrink: 0;
        width: 60%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    .ikon {
        margin-top: 101px;
        margin-left: -28px;
    }
    .tarmoq{
        width: 100%;
        margin-left: 90px;
    }
    #haircut{
        margin-top: 20px;
        height: 130px;
    }
    #uy {
        width: 50px;
        height: 69px;
    }
}